@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.CheckboxField>
<div class="form-group @(Model.Invalid? "has-error" : null)">
  <div class="checkbox">
    <label>
      <input type="checkbox" name="@Model.FormSafeName" value="true" @(Model.Selected ? "checked" : null) @(Model.Mandatory ? "required" : null) />
      @Model.Label
    </label>
  </div>

  @Html.Partial("FormEditor/FieldsSync/core.utils.helptext")
  @Html.Partial("FormEditor/FieldsSync/core.utils.validationerror")
</div>