@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.UrlField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
  <label for="@Model.FormSafeName">@Model.Label</label>
  <input type="url" class="form-control" id="@Model.FormSafeName" name="@Model.FormSafeName" placeholder="@Model.Placeholder" ng-model="formData.@Model.FormSafeName" @(Model.Mandatory ? "required" : null) http-prefix />

  @Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
  @Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
</div>
