@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.MailChimpSubscriptionField>
<div class="form-group @(Model.Invalid? "has-error" : null) checkbox" action-field="@Model.FormSafeName">
  <label>
    <input type="checkbox" name="@Model.FormSafeName" ng-model="formData.@Model.FormSafeName" value="true" />
    @Model.Label
  </label>

  @Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
</div>