@using FormEditor;
@using FormEditor.Rendering
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
  // get the content that contains the form model (defaults to the current page)
  var formContent = ViewBag.FormContent as IPublishedContent ?? Model;

  // ensure that ViewBag.FormContent is available for the field renderings
  ViewBag.FormContent = formContent;
  
  // get the name of the form model property on the content type (defaults to "form")
  var formPropertyName = ViewBag.FormName as string ?? "form";

  // get the form model
  var form = formContent.GetPropertyValue<FormModel>(formPropertyName);

  // #104 - don't attempt to render the form if the form model does not exist on the page or if it is empty 
  if(form == null || form.IsEmpty())
  {
    @: <!-- no Form Editor form was found on the page -->
    return;
  }

  // attempt to load an existing submission if ViewBag.FormRowId is defined
  if(ViewBag.FormRowId is string)
  {
    Guid rowId;
    if(Guid.TryParse((string)ViewBag.FormRowId, out rowId))
    {
      form.LoadValues(formContent, rowId);
    }
  }

  // handle form submission if this is a postback
  // - this will also take care of redirecting to the success page (if configured)
  var formWasSubmitted = form.CollectSubmittedValues(formContent);

  // show the receipt if the form was submitted and we have a receipt message
  var showReceiptMessage = formWasSubmitted && string.IsNullOrWhiteSpace(form.ReceiptHeader) == false;

  //  show the max number of submissions exceeded for current user message if applicable (and if the form was not submitted just now)
  var showMaxSubmissionsExceededForCurrentUserMessage = formWasSubmitted == false && form.MaxSubmissionsExceededForCurrentUser(formContent);

  // show the max number of submissions exceeded message if applicable (and if the form was not submitted just now) (no need to check if max submissions are exceeded for the current user)
  var showMaxSubmissionsExceededMessage = showMaxSubmissionsExceededForCurrentUserMessage == false && formWasSubmitted == false && form.MaxSubmissionsExceeded(formContent);

  // skip rendering the form paging links (when applicable)?
  var skipPagingLinks = ViewBag.FormSkipPagingLinks == true;
}

@if (showReceiptMessage)
{
  @* form was submitted and we have a receipt message - show message *@
  <div class="container form-receipt">
    <h2>@form.ReceiptHeader</h2>
    <p>
      @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(form.ReceiptBody ?? string.Empty))
    </p>
  </div>
}
else if (showMaxSubmissionsExceededForCurrentUserMessage)
{
  @* max number of form submissions for the current user exceeded - show message *@
  <div class="container form-max-submissions-exceeded">
    <h2>@form.MaxSubmissionsForCurrentUserExceededHeader</h2>
    <p>
      @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(form.MaxSubmissionsForCurrentUserExceededText ?? string.Empty))
    </p>
  </div>
}
else if (showMaxSubmissionsExceededMessage)
{
  @* max number of form submissions exceeded - show message *@
  <div class="container form-max-submissions-exceeded">
    <h2>@form.MaxSubmissionsExceededHeader</h2>
    <p>
      @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(form.MaxSubmissionsExceededText ?? string.Empty))
    </p>
  </div>
}
else
{
  @* render the form *@
  <form method="POST" enctype="multipart/form-data" data-form-editor="@formContent.Id" id="fe_@(formContent.Id)" novalidate>
    @* add anti forgery token *@
    <input type="hidden" name="_antiForgeryToken" value="@form.AntiForgeryToken()" />
    @* add hidden _id to support multiple forms submitting to the same page *@
    <input type="hidden" name="_id" value="@formContent.Id" />
    <div class="container form-data">
      @foreach (var page in form.Pages)
      {
        <div class="form-page" style="@(page == form.Pages.First() ? null : "display:none;")">
          @foreach (var row in page.Rows)
          {
            <div class="row @row.Alias">
              @foreach (var cell in row.Cells)
              {
                <div class="cell @cell.Alias">
                  @foreach (var field in cell.Fields)
                  {
                    // render the form field with a partial view
                    // - the view is expected to be located at /Views/Partials/FormEditor/FieldsSync/[field type].cshtml, e.g. /Views/Partials/FormEditor/FieldsSync/core.checkbox.cshtml
                    @Html.Partial(string.Format(@"FormEditor/FieldsSync/{0}", field.Type), field)
                  }
                </div>
              }
            </div>
          }
        </div>
      }
      @*
        paging links
        TIP: you can localize the "Previous" and "Next" texts by adding "form.paging.previous" and "form.paging.next" to the Umbraco dictionary
      *@
      @if (form.Pages.Count() > 1 && skipPagingLinks == false)
      {
        <nav>
          <ul class="pager">
            <li class="previous form-btn-previous" style="display: none">
              <a href="javascript:;">
                @Umbraco.Coalesce(Umbraco.GetDictionaryValue("form.paging.previous"), "Previous")
              </a>
            </li>
            <li class="next form-btn-next" style="display: none">
              <a href="javascript:;">
                @Umbraco.Coalesce(Umbraco.GetDictionaryValue("form.paging.next"), "Next")
              </a>
            </li>
          </ul>
        </nav>
      }
      @*
        form validation errors container (for cross field validations)
        TIP: you can localize the default header text by adding "form.validationerrors.header" to the Umbraco dictionary
      *@
      <div id="validationErrors" class="row form-validation-errors @(form.Validations.Any(v => v.Invalid) ? null : "hide d-none")">
        <div class="cell">
          <div class="form-group">
            <div class="alert alert-danger">
              <h4>
                @Umbraco.Coalesce(form.ValidationsHeader, Umbraco.GetDictionaryValue("form.validationerrors.header"), "The form contains errors")
              </h4>
              <ul id="validationErrorsList">
                @foreach (var invalidValidation in form.Validations.Where(v => v.Invalid))
                {
                  <li>@invalidValidation.ErrorMessage</li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  @* this script section sets up state for the JS and thus needs to be a part of the template *@
  <script type="text/javascript">
    @* global container for form state data *@
    var _fe = _fe || {};
    _fe[@formContent.Id] = {};

    @* form validations as an array of JSON objects *@
    _fe[@formContent.Id].validations = @form.Validations.Render();

    @* form actions as an array of JSON objects *@
    _fe[@formContent.Id].actions = @form.Actions.Render();

    @* the total number of form pages *@
    _fe[@formContent.Id].totalPages = @form.Pages.Count();
  </script>
}
