@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.CheckboxGroupField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)">
  <label>@Model.Label</label>
  @foreach (var fieldValue in Model.FieldValues)
  {
    <div class="checkbox">
      <label>
        <input type="checkbox" name="@Model.FormSafeName" value="@fieldValue.Value" @(fieldValue.Selected ? "checked" : "") />
        @fieldValue.Value
      </label>
    </div>
  }

  @Html.Partial("FormEditor/FieldsNoScript/core.utils.helptext")
  @Html.Partial("FormEditor/FieldsNoScript/core.utils.validationerror")
</div>
