@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.CampaignMonitorSubscriptionField>
<div class="form-group @(Model.Invalid? "has-error" : null) checkbox">
  <label>
    <input type="checkbox" name="@Model.FormSafeName" value="true" @(Model.Selected ? "checked" : null) />
    @Model.Label
  </label>

  @Html.Partial("FormEditor/FieldsNoScript/core.utils.helptext")
</div>